{% extends 'base.html' %}
{% block content %}

<h1>About the Cards Collector</h1>
<hr>
<p id="about">Welcome to the ultimate destination for sports trading card enthusiasts! Dive into the exhilarating world of collectible sports cards, where history, athleticism, and artistry collide. Whether you're a seasoned collector or just beginning your journey, our page is your gateway to exploring the most coveted cards, learning about their rich history, and staying updated on the latest releases. Join us as we celebrate the heroes, legends, and iconic moments that make sports trading cards a cherished hobby for fans of all ages.</p>

{% endblock %}
