{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cards Collector</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="navbar-item">Cards Collector</a>
        <div class="right-nav-wrapper">
            <a href="{% url 'about' %}" class="navbar-item">About</a>
            <a href="{% url 'cards_create' %}" class="navbar-item">Add a Card</a>
            <a href="{% url 'index' %}" class="navbar-item">All Cards</a>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Cards Collector &nbsp;</div>
  </footer>
</body>
</html>