body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

footer.page-footer {
    text-align: right;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 50px;
}

.nav-wrapper > a {
    display: flex;
    align-items: center;
}

.right-nav-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.right-nav-wrapper > a {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding-left: 10px;
    padding-right: 10px;
}

a.navbar-item {
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
}

a.navbar-item:hover {
    background-color: rgb(0, 78, 179);
    transition: 0.3s;
}

nav > div {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 101, 232);
}

.card {
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.card-action, .bid-content {
    margin-left: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-left: 10px;
}

#about {
    margin-left: 10px;
    margin-right: 10px;
}

a.index {
    text-decoration: none;
    color: #4da9ff;
}

a.index:hover {
    color: #0077e6;
    transition: 0.3s;
}

p.name {
    font-size: 20px;
}

.card-form {
    margin-left: 10px;
}

.form-table {
    margin-bottom: 10px;
    border-spacing: 0 10px;
}

.form-table th {
    text-align: left;
}

.form-table input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 400px;
}

.btn {
    border-radius: 10px;
    background-color: rgb(34, 155, 144);
    color: white;
    border: none;
    min-height: 30px;
    min-width: 120px;
}

.btn:hover {
    background-color: rgb(23, 105, 97);
    transition: 0.3s;
}

.card-action a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    color: rgb(255, 161, 56);
}

.card-action a:hover {
    color: rgb(230, 121, 0);
    transition: 0.3s;
}

#cancel {
    color: #4da9ff;
    text-decoration: none;
}

#cancel:hover {
    color: #0077e6;
    transition: 0.3s;
}

.confirm-delete {
    margin-left: 10px;
}

.bid-table p input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 400px;
}

.bid-message {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.bid-table-head {
    font-size: 18px;
    padding-right: 20px;
}
