body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

footer.page-footer {
    text-align: right;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 50px;
}

.nav-wrapper > a {
    display: flex;
    align-items: center;
}

.right-nav-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.right-nav-wrapper > a {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
}

a:hover {
    background-color: rgb(0, 78, 179);
    transition: 0.3s;
}

nav > div {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 101, 232);
}

.card {
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-left: 10px;
}

#about {
    margin-left: 10px;
    margin-right: 10px;
}